*{
  box-sizing: border-box;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{  
  margin: 0;
  padding: 0;
  background-image: url("homepagebg.jpg");
  /*background-color: #0000CD;*/
  background-position: center;
  background-repeat: no-repeat;
  /*filter: blur(1px);*/
  background-blend-mode: saturation;
  background-size: 100% 100%;
}

/*.bg{
  background-image: url("homepagebg6.jpg");
  background-color: #0000CD;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  /*filter: blur(1px);
  background-blend-mode: saturation;
  background-size: cover;
}*/

.header{
  width: 100%;
  height: 10px;
  padding: 0;
  margin: 0; 
  background-color: #bdbdbd;
  opacity: 1;
}

.menubar {
  width: 100%;
  margin: -14px auto;
  padding: 0;
  background-color: #F5F5F5;
}

.body-layout{
  padding-top: 5px;
}

.body-layout .search-container{
  width: 95%;  
  display: table;
  margin: 0 auto;
}

.divisor{
  height: 1px;
  width: 95%;
  background: #cdcdcd;
  margin-top: 5px;
  display: table;
  margin: 10px auto;
}

ul li {
  display: inline;
  text-align: center;
  /*padding: 0;*/
}

ul{
  margin-left: -30px;
}

a {
  display: inline-block;
  width: 10%;
  padding: .5rem 0;
  margin: 0;
  text-decoration: none;
  color: #8C92AC;
  font-size: 110%;
  vertical-align: middle;
}

.b1,.b2,.b3,.b4{
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: black;
  vertical-align: middle;
}

.home:hover ~ hr {
  margin-left: 25px;
}

.group:hover ~ hr{
  margin-left: calc(10% + 27px);
}

.message:hover ~ hr {
  margin-left: calc(20% + 27px);
}

.create:hover ~ hr {
  margin-left: calc(30% + 27px);
}

.profile:hover ~ hr{
  margin-left: calc(40% + 27px)
}

.deco{
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url("deco.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  height: .25rem;
  width: 10%;
  margin-left: calc(10% + 27px);
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
  border-radius: 10px 10px 10px 10px;
}

input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}
